body {
    background: rgb(230, 236, 240);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
}

body,
a,
a:hover {
    color: #262626;
    text-decoration: none;
}

body,
ul,
p {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none !important;
}

.btn-default {
    border: 1px solid #888;
    background: #fff;
}

.container {
    width: 1190px;
}

nav ul li a,
.nav ul li a {
    color: rgb(102, 117, 127);
}

.btn,
input.button,
input.form-control {
    font-size: 14px;
    height: 31px;
}

input.form-control {
    padding-top: 2px;
    padding-left: 15px;
}

.parsley-errors-list {
    color: rgba(255, 0, 0, 0.6);
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.2s infinite ease-in-out;
    animation: load7 1.2s infinite ease-in-out;
}
.loader {
    color: rgb(29, 161, 242);
    font-size: 4px;
    margin: 0px auto;
    margin-top: -3px;
    margin-bottom: 15px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
